@import './_fonts';
@import './_tailwind';
@import './_form-inputs';

html {
  font-display: block;
@apply .font-sans .font-light .text-gray-400;
font-family: 'Roboto';
  height: 100%;
  
  background-color: #292f35;
  background-image: radial-gradient(
    farthest-corner at top left,
    #292f35 46%,
    #161a1c
  );
  background-repeat: no-repeat;
  color: #fff;
}

body {
  height: 100%;
  overflow: auto;
  
}


h1 {
  @apply text-6xl font-title;
}
h2 {
  @apply text-5xl font-title;
}
h3 {
  @apply text-4xl font-title;
}
h4 {
  @apply text-3xl  font-title;
}
h5 {
  @apply text-2xl  font-title;
}

a {
  @apply text-blue-600;

  &:hover {
    @apply .underline;
  }
}
